// @import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  /* primary color white */
  // --primary-color: gray;
  --primary-color: #ffffff;

  /* secondary color blue */

  --header-color: aqua;
  --header-bg-color: aqua;
  --header-ln-color: #727e8f;
  --header-hover-color: #506b92;

  /* text color black */
  // --text-color: #212121;
  --text-color: #000000;

  // --text-color:#333
  /* text color black */
  --button-color: #eaeaea;

  /* hero background color */
  // --hero-bg-color: #2f303a;
  /* background color */
  // --background-color: #e7e6e1;
  --background-color: gainsboro;
  // --background-color: #0fc9e7;
  // --background-color: #fafafa;
  // --background-color: #24e092;
  // --background-color: gray;
  // --background-color: #2196f3;

  // --background-color: #3498db;

  /* futer background color */
  // --footer-bg-color: #2f303a;
  /* mail-link color */
  // --footer-text-color: rgba(255, 255, 255, 0.6);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --tm: 250ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  // width: 400px;
  height: 320px;
  object-fit: cover;
}

input {
  padding-left: 15px;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  // background-color: var(--background-color);
  border-style: none;
  background-color: var(--background-color);
  // border-bottom: 2px solid #727e8f;
  // border-radius: 10%;
  border-radius: 5px;
  // border-bottom: 2px solid var(--text-color);

  outline: none;

  transition: color var(--tm) var(--cubic),
    background-color var(--tm) var(--cubic), box-shadow var(--tm) var(--cubic);

  &:hover,
  &:focus {
    color: var(--text-color);
    // background-color: var(--header-bg-color);
    background-color: aliceblue;
    // background-color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  // &:focus {
  //   color: var(--text-color);
  //   background-color: var(--background-color);
  //   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  //     0px 2px 2px rgba(0, 0, 0, 0.12);
  // }
}

// input:hover,
// input:focus {
//   // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

//   // background-color: var(--button-color);
//   // box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//   //   0px 2px 2px rgba(0, 0, 0, 0.12);
// }

input[type='checkbox'] {
  /* change "blue" browser chrome to yellow */
  filter: hue-rotate(350deg) brightness(1.7);
  // filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  // filter: invert(100%) hue-rotate(470deg) brightness(1.7);
  // filter: opacity(90%);
  // background-color: var(--background-color);
  // color: aqua;
  // background-color: aqua;
}

input[name='per_page'] {
  width: 5ch;
  // font-size: 20px;
}

input[name='searchQuery'] {
  width: 400px;
  height: 40px;

  // padding-left: 12px;
  // padding-right: 12px;

  // font-size: 20px;
  // color: aliceblue;
  // background-color: var(--header-bg-color);

  // background-color: aquamarine;
  // border-radius: 5px;
  // border-style: none;
  // border-bottom: 2px solid #5392f2;

  // &:focus {
  // outline: 2px solid #5392f2;
  // border-style: none;
  // outline: none;
  // box-shadow: 10px 10px 10px -10px rgba(45, 20, 156, 0.6);
  // }
}

.container {
  // width: 100%;
  // width: 100vw;
  // width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  // display: block;
  width: 70px;
  height: 70px;
  // padding: 0 22px;
  // height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  // font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  // color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  // border: 2px solid var(--header-ln-color);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--tm) var(--cubic),
    background-color var(--tm) var(--cubic), box-shadow var(--tm) var(--cubic);
  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

button[type='submit'] {
  margin-left: 10px;
  // width: 80px;
  // height: 80px;

  // font-weight: 600;
  // letter-spacing: 0.04em;

  // border-radius: 50%;
  // border-style: none;

  // background-color: #334764;

  // &:hover,
  // &:focus {
  //   background-color: #eaeaea;
  //   color: #1e1e1e;
  // }
}

.go-top {
  position: fixed;
  bottom: 30px;
  right: 40px;
  // width: 60px;
  // height: 60px;
  // border-radius: 50%;
  // outline: none;

  // background-color: transparent;
}

.photo-card {
  //flex: 1 25%;
  // background-color: var(--primary-color);
  // box-shadow: inset 0px 0px 0px 1px #eeeeee;
  // transition: box-shadow var(--tm) var(--cubic);
  // &:hover,
  // &:focus {
  //   box-shadow: inset 0px 0px 0px 1px #eeeeee, 0px 1px 1px rgba(0, 0, 0, 0.12),
  //     0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  // & .card__description {
  // transform: translateY(0);
  // }
  // }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100px;
  // background-color: var(--background-color);
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: aqua;
  // background-color: #3d4e83;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.header-container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  //   height: 100px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-right: 50px;
}

.set-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.filter {
  display: flex;
  flex-direction: column;
}

// .pagination {
//   display: flex;
//   flex-direction: column;
// }

// .info-block {
//   margin-right: 30px;
// }
// input {

// box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
// }

// button {
//   background-color: var(--header-bg-color);
// }
