.gallery-section {
  // padding-top: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 110px;
  justify-content: center;
}

.photo-card {
  flex: 1 20%;
  max-width: 25%;
  transition: transform var(--tm) var(--cubic);

  &:hover {
    transform: scale(1.03);
  }
}

.info {
  display: flex;
  // padding-left: 20px;
  justify-content: center;

  gap: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
