<header class="header">
  <div class="container header-container">
    <form class="search-form" id="search-form">
      <div class="set-block">
        <div class="filter">
          <label>
            <input type="checkbox" name="image_type" value="photo" />
            photo
          </label>
          <label>
            <input type="checkbox" name="orientation" value="horizontal" />
            horizontal
          </label>
          <label>
            <input type="checkbox" name="safesearch" value="true" />
            safesearch
          </label>
        </div>
        <div class="pagination">
          <p>pagination</p>
          <label>
            <input type="number" name="per_page" value="3" />
            per page
          </label>
        </div>
      </div>
      <div class="searh-block">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button type="submit">Search</button>
      </div>
    </form>
    <div class="info-block">
      <div id="total-images">0 images found</div>
      <div id="available-images">0 images available</div>
      <div id="total-pages">0 pages</div>
      <div id="loaded-pages">loaded 0</div>
    </div>
    <div class="btn-block">
      <button type="button" class="next-page">next page</button>
      <button type="button" class="load-more" hidden>Load more</button>
      <button type="button" class="go-top" hidden>Go top</button>
    </div>
  </div>
</header>
